.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 48px;
}

.game-board {
  margin: 0 auto;
  border: 10px solid #800000;
  border-radius: 10px;
}

.game-board:after {
  clear: both;
  content: "";
  display: table;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  height: 100%;
  width: 100%;
  position: fixed;
}

.b-sq {
  background-color: #000000;
}

.w-sq {
  background-color: #ffffff;
}

.hand:after {
  clear: both;
  content: "";
  display: table;
}

.hand {
  padding-top: 20px;
  margin: 0 auto;
}

.card {
  background: #ffffff;
  border-radius: 5px;
  float: left;
  height: 98px;
  width: 70px;
  margin-left: 5px;
  margin-right: 5px;
}

.selectable {
  border: 2px solid #b00000;
}

.selected {
  border: 5px solid #b00000;
}

.not-selected {
  border: 5px solid #000000;
}
